@import 'modules/colors.css';
@import 'modules/workspaces.css';

* {
  font-family: "Hack", serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

window#waybar {
  background: transparent;
}

.module {
  color: @primary;
  background: @pill-bg;
  border: 1px solid @pill-border;
  border-radius: 999px;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.15s cubic-bezier(.4,2.3,.3,1);
}

#pulseaudio.module:hover,
#mpris.module:hover
{
  background: @pill-bg-hover;
}